<%inherit file='../base.html' />
<%def name='title()'>
理想测试中心
</%def>
<%def name='content()'>
<%
from lwbtestmune.model.project_model import ProjectType, MethodType
from django.shortcuts import reverse
%>

<form id="project-edit-area" class="form-horizontal edit-area ass-project-area" action="" method="POST">${ csrf_token }
    <div class="form-group">
        <div class="col-sm-10">
            <input id="proj_name" value="${project.project_name}" type="text" name="project_name" class="form-control" placeholder="请输入项目名称">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input id="proj_code" value="${project.project_code}" disabled="disabled" type="text" name="project_code" class="form-control" placeholder="请输入项目编码">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>项目类型:</label>
            <select id="proj_type" class="form-control video-select" name="project_type">
                <option value="${ProjectType(project.project_type).value}">${ProjectType(project.project_type).label}</option>
                % for project_type in ProjectType:
                <option value="${project_type.value}">${project_type.label}</option>
                % endfor
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input id="proj_base_url" value="${project.base_url}" type="text" name="base_url" class="form-control" placeholder="请输入项目基础地址">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <textarea id="proj_header" name="project_header" class="form-control" placeholder="项目请求头">${project.project_header}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <label>请求方式:</label>
            <select id="proj_method" class="form-control video-select" name="project_method">
                <option value="${MethodType(project.project_method).value}">${MethodType(project.project_method).label}</option>
                % for method_type in MethodType:
                <option value="${method_type.value}">${method_type.label}</option>
                % endfor
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input id="proj_login_url" value="${project.login_url}" type="text" name="login_url" class="form-control" placeholder="请输入项目登录地址">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <textarea id="proj_data" name="project_data" class="form-control" placeholder="项目请求参数">${project.project_data}</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <input id="proj_token_name" type="text" value="${project.token_name}" name="token_name" class="form-control" placeholder="请输入token路径">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
            <textarea id="proj_info" name="project_info" class="form-control" placeholder="项目简介">${project.project_info}</textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <input type="hidden" id="proj_id" value="${project.id}" name="project_id" />
        <button id="project_edit" type="button" data-url="${reverse('project_list')}" class="btn btn-primary">保存</button>
    </div>
</form>
</%def>
<%def name="js()">
<script src="/static/js/project_list.js"></script>
</%def>