<%inherit file='../base.html' />
<%def name='title()'>
用例管理
</%def>
<%def name='css()'>
<link href="/static/css/bootstrap-table-reorder-rows.css" rel="stylesheet"/>
</%def>
<%def name='content()'>
<%
from lwbtestmune.model.project_model import BusinessModel
from lwbtestmune.model.project_model import VerifyType, MethodType
from django.shortcuts import reverse
%>
<table id="table" data-toggle="table" data-use-row-attr-func="true" data-reorderable-rows="true" data-sortable="true">
    <thead>
    <tr>
        <th>用例ID</th>
        <th class="drag-handle">用例序号</th>
        <th>用例名称</th>
        <th>所属项目</th>
        <th>所属业务</th>
        <th>请求方式</th>
        <th>请求路径</th>
        <th>请求参数</th>
        <th>用例状态</th>
        <th>是否通过</th>
        <th>用例描述</th>
    </tr>
    </thead>
    <tbody>
    % for case in cases:
    <tr>
        <td>${case.id}</td>
        <td class="drag-handle">${case.serial_num}</td>
        <td>${case.case_name}</td>
        <td>${case.owner_project.project_name}</td>
        <td>${case.owner_business.business_name}</td>
        <td>${case.method}</td>
        <td>${case.url}</td>
        <td>${case.data}</td>
        % if case.case_status:
        <td>启用</td>
        % else:
        <td>弃用</td>
        % endif
        <td>${case.is_pass}</td>
        <td>${case.case_info}</td>
    </tr>
    % endfor
    </tbody>
</table>
</%def>
<%def name='js()'>
<script src="/static/js/table_pull.js"></script>
<script src="/static/js/bootstrap-table.min.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
</%def>